{% comment %}New initial code template{% endcomment %}
{% block env %}{% endblock env %}

{% block start %}
def greedy_number(line:str, length: int) -> str:
    # your code here
    return '0'
{% endblock start %}

{% block example %}
print('Example:')
print(greedy_number("571", 2))
{% endblock %}

{% block tests %}
{% for t in tests %}
assert {% block call %}greedy_number({{t.input.0|p}}, {{t.input.1|p}})
{% endblock %} == {% block result %}{{t.answer|p}}{% endblock %}{% endfor %}
{% endblock %}


{% block final %}
print("The first mission is done! Click 'Check' to earn cool rewards!")
{% endblock final %}